h1
{
    text-align: center;
}
ul.nav
{
    background-color:darkblue ;
    justify-content:space-around;
    color : black;
    margin-top: 15px;
    margin-bottom: 15px;
}
.carousel-inner
{
    height: 400px;
}
.card
{
    margin-top: 10rem;
}
.footer
{
    margin-top: 5%;
    margin-left: 5px;
    margin-right: 5px;
    height: 205px;
    width: 24%;
}
#colomun
{
    column-count: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
#search
{
    margin-top: 5%;
}